/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background: url('') center/cover no-repeat; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.img-logo {
  height: 5rem;
  width: 10rem;
  background-image: url('https://ehr.meditech.com/themes/ehrmeditech/images/meditech-logo.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column-reverse;
  padding-top: 20px;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: flex;
  }
}


.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: 10s slide infinite;
  animation-play-state: running;
}

.slide {
  position: relative;
  width: 25%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: transform 0.5s ease; 
}

.slide img:hover {
  transform: scale(1.1); 
}

.quote {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 60%;
}

.quote h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .quote h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .quote h1 {
    font-size: 1.2rem;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  100% {
    left: 0;
  }
}

.appointment-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 2;
  transition: transform 0.3s ease;
}

.appointment-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
